@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-1: #09637E;
    --color-2: #088395;
    --color-3: #7AB2B2;
    --color-4: #EBF4F6;
}


body {
    color: rgb(159, 218, 255);
    background-color: var(--color-1);
}
h1{
    font-family: condiment;
}
p{
    font-family: Funnel Sans;
}